.user-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 250px;
  background-color: #2a2e35;
  padding: 30px 10px;
}
