.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #12181b;
  padding: 20px;
}

.users-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #12181b;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(0, calc(100% / 4)));
  grid-auto-rows: auto;
}
